.selected-dropdown-user {
    padding: 2px 7px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    transition: background .15s ease-in-out;
}
.selected-dropdown-user:hover {
    background: rgb(179, 179, 249);
}

.user-profile-avatar {
    width: 40px;
    /* border: 4px solid var(--color-purple); */
}

.follows-avatar-image {
	width: 30px;
    padding: 1px;
    border-radius: 100%;
}

.justify-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7px 0 7px 5px;
    width: 135px;
}

.follows-name, .follows-handle {
    padding: 1.5px;
    margin: 0;
    color: grey;
    transition: color .15s ease-in-out;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.follows-name {
    font-size: 11px;
    font-weight: 500;
    width:
}

.follows-handle {
    font-size: 10px;
    opacity: 80%;
    font-style: italic;
}
