/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Global CSS Variables */
:root {
    /* Variable Demo:
        background-color: var(--color-background);
    */
    --color-background: rgb(18, 18, 18);
    --color-nav-background: rgb(0, 0, 0);
    --color-footer-background: rgb(55, 55, 55);
    --color-login-container-background: rgb(55, 55, 55);
    --color-border: rgb(71, 69, 69);

    --color-input-grey: rgb(204, 204, 204, .95);

    --color-purple: rgb(122, 123, 255);
    --color-apricot: rgb(255, 201, 181);

    --color-text-lightest: rgb(255, 255, 255);
    /* --color-text-lightest-hover */
    --color-text-lighter: rgb(237, 237, 237);
    /* --color-text-lightest-hover */

    --color-text-light: rgb(205, 203, 203);
    /* --color-text-lightest-hover */

    --color-text-less-light: rgb(188, 188, 188);
    /* --color-text-lightest-hover */

    --color-text-dark-1: rgb(58, 56, 56);
    /* --color-text-lightest-hover */

    --color-button-purple: rgb(122, 123, 255, .6);
    --color-button-apricot: rgb(255, 201, 181, .47);
}


body {
    max-width: 1280px;
    min-height: 1200px;
    margin: 72px auto 60px;
    
    font-family: 'Barlow', sans-serif;
    /* TODO Change later or as needed */
    background-color: var(--color-background);
    color: var(--color-text-lighter);
}


/* BASE ELEMENT STYLES */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
