.post-modal-wrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 640px 360px;
    grid-template-areas:
        'left right';
}

.post-image-wrapper {
    grid-area: left;
    max-height: 640px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image-wrapper img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    object-fit: contain;
    /* display: block; */
}


/* RIGHT SIDE **********************************/
.post-modal__right {
    grid-area: right;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#post-info {
    display: flex;
    flex-direction: column;
}

/* POST HEADER */
.post-header {
    min-height: 80px;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid var(--color-gray);

    display: flex;
    align-items: flex-start;
}

.post-details-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.post-details {
    /* max-width: 220px; */
    width: 100%;
    padding: 0 12px;
    overflow: hidden;
    word-wrap: break-word;
}

.post-buttons {
    padding: 4px;
    cursor: pointer;
    display: flex;
    gap: 12px;
}

.post-user-handle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-caption {
    font-size: 14px;
}



/* COMMENT SECTION */
.comment-section {
    padding: 16px;
    border-bottom: 1px solid var(--color-gray);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.comment-section::-webkit-scrollbar {
    width: 0px;
}

.comment-section::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0);
}



/* LOWER RIGHT SIDE */
#likes-div {
    height: 100px;
    padding: 12px;
    border-bottom: 1px solid var(--color-gray);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#likes-div-icons {
    display: flex;
    gap: 8px;
}

#post-like-count {
    margin: 4px 0 8px;    
}
#date-posted {
    /* margin: 8px 0; */
}

#like-button {
    /* color: var(--color-red);  */
}



#create-comment {
    height: 48px;
    width: 100%;
    
    display: flex;
    align-items: center;
}
