.post-modal-wrapper {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 640px auto;
    grid-template-areas: 
        'left right';
}

.post-image-wrapper {
    grid-area: left;
    height: 100%;
}
.post-image-wrapper img {
    height: 100%;
}


/* RIGHT SIDE **********************************/
.post-modal__right {
    grid-area: right;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    
}

/* POST HEADER */
.post-header {
    height: 100px;
    width: 100%;
    
    border: 1px solid blue;
}
