#all-posts {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-flow: row nowrap;
    margin: 100px auto;
}

.posts-list {
    display: flex;
    width: 33.33%;
    flex-flow: column nowrap;
    overflow: hidden;
}


.no-feed-posts {
    font-family: inherit;
    padding-top: 15px;
    margin: auto;
    font-weight: 600;
    /* font-style: italic; */
    font-size: larger;
    text-align: center;
    color: rgba(0, 0, 0, 0.736);
    letter-spacing: 1px;
}
