#all-posts {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-flow: row nowrap;
    margin: 100px auto;
}

.posts-list {
    display: flex;
    width: 33.33%;
    flex-flow: column nowrap;
    overflow: hidden;
}

.single-feed-post {
    padding: 10px;
    justify-content: center;
    overflow: hidden;
}

/* #post-image {
    margin: auto;
    width: 10%;
    border: none;
    overflow: hidden;
    border-radius: 10px;
} */

.post-image-div img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.user-handle {
    text-decoration: none;
    color: white;
    color: rgb(226, 159, 135);
    color: #818080;
    padding: 5px 20px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-image-and-handle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-info a {
    text-decoration: none;
}

img {
    color: white;
}

.post-like-and-comment-count {
    display: flex;
}


.feed__post__icon {
    color: var(--color-apricot);
}

.feed__post__icon {
    padding: 10px;
}

.post-like, .post-comment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 20px;
}
