#settings-form {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
}

#settings-form > input, label, textarea {
    width: 20%;
    margin: auto;
    border-radius: 5px;
}

#settings-form > input {
    height: 30px;
    border: 2px solid gray;
    font-size: 12px;
}

#settings-form > textarea {
    resize: none;
    height: 100px;
    font-size: 14px;
    border: 2px solid gray;
}

#settings-form > button {
    width: 20%;
    margin: auto;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.profile-picture-container-settings-page {
    margin: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#settings-form > #upload-and-preview-section {
    margin: auto;
}

#settings-form > #upload-and-preview-section > #preview > img {
    max-height: 500px;
    max-width: 500px;
}
