#settings-form {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

#settings-form > #left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
    border-right: 2px solid rgb(210, 210, 210);
}

#settings-form > #left > p {
    font-size: 20px;
}

#settings-form > #update-page-input-fields {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#settings-form > #update-page-input-fields > p {
    position: absolute;
    top: 0;
    font-size: 20px;
}

#settings-form > #update-page-input-fields > input, label, textarea {
    width: 60%;
    margin: auto;
    border-radius: 5px;
}

#settings-form > #update-page-input-fields > input {
    height: 30px;
    border: 2px solid rgb(240, 240, 240);
    font-size: 12px;
    padding: 20px;
}

#settings-form > #update-page-input-fields > textarea {
    resize: none;
    height: 100px;
    font-size: 14px;
    border: 2px solid rgb(240, 240, 240);
    padding: 10px;
    font-family: inherit;
}

#settings-form > #update-page-input-fields >  button {
    width: 20%;
    margin: auto;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.profile-picture-container-settings-page {
    margin: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#settings-form > #left > #upload-and-preview-section {
    margin: auto;
}

#settings-form > #left > #upload-and-preview-section > #preview {
    height: 400px;
    width: 100%;
}

#settings-form > #left > #upload-and-preview-section > #preview > img {
    height: 325px;
    width: 325px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#update-button {
    background: linear-gradient(135deg, rgba(122,123,255,1) 12%, rgba(255,201,181,1) 91%);
    color: var(--color-white);
    transition: background .15s ease-in-out, box-shadow .15s ease-in-out;
}

#update-button:hover {
    background: linear-gradient(135deg, rgb(113, 113, 249) 18%, rgb(254, 192, 170) 91%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

#updating {
    text-align: center;
    margin-top: 32%;
}
