.search {
  height: 100%;
  position: relative;
  
  display: flex;
  align-items: center;
}

.search__form {
  width: 260px;
  height: 30px;
  padding: 0 10px;
  
  border: 1px solid var(--color-light-gray);
  background-color: white;
  border-radius: 4px;

  display: flex;
  align-items: center;
}
.search input {
  width: 100%;
  height: 50%;
  
  border: none;

  color: black;
  outline: none;
}


/* search menu pop up thing ***********************
**************************************************/
.search-filter {
  width: 300px;
  max-width: 300px;
  max-height: 280px;
  margin: 0;
  padding: 0;
  border: 2px solid var(--color-light-gray);
  border-radius: 4px;
  
  font-size: 14px;
  color: var(--color-dark-gray);
  
  background-color: var(--color-white);
  overflow-x: hidden;
  overflow-y: scroll;
  
  position: absolute;
  top: 70px;
  top: 50px; left: 0; right: 0;
  margin: 0 auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.search-filter::-webkit-scrollbar {
  width: 6px;
}
.search-filter::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 25px;
}



#search-message {
  width: 100%;
  min-height: 10px;
  padding: 10px;
  
  cursor: pointer;
  color: var(--color-gray);
  background: none;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background .15s ease-in-out;
}


span.search-item {
  width: 100%;
  min-height: 36px;
  padding: 10px 6px;
  
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  
  transition: background .15s;
}
.search-item:hover {
  background: rgb(179, 179, 249);
}
