.profile-page {
    width: 100%;
    max-width: 1280px;
    display: flex;
    margin: auto;
}



/*****************************************************************/
/*  USER INFO */
/*****************************************************************/

.user-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #Fddfd3;
    padding: 20px 0;
    gap: 50px;
    animation: border-bottom-gradient 5s infinite;
}

  @keyframes border-bottom-gradient {
    0% { border-color: rgb(167, 167, 246) }
    50% { border-color: rgba(255,201,181,1) }
    100% { border-color: rgba(167, 167, 246) }
  }

.profile-picture {
    border-radius: 100%;
    width: 150px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.user-info-container {
    flex-direction: column;
    width: 40%;
}


.posts-followers-following-div, .handle-follow-options-div {
    display: flex;
    gap: 20px;
}

/*****************************************************************/
/*  POSTS */
/*****************************************************************/

.user-posts {
    flex-direction: row;
    /* flex-basis: 20%; */
    flex-wrap: wrap;

    justify-content: space-between;
    row-gap: 20px;
    /* gap: 20px; */
    padding-top: 20px;

}

.post-div {
    width: 32%;
    /* height: 100%; */
    transition: opacity .15s linear;
    position: relative;
}


.post-image-div .post-div img {
    border-radius: 0px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


.overlay {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: calc(100%-20px);
    opacity: 0%;
    transition: opacity .15s linear;
}

.overlay:hover {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.60);
}


.overlay__div {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

}

.centering-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile__post__icon {
    color:rgb(229, 155, 128);
    padding: 10px;
    font-size: 25px;
}


.like-button  .profile__post__icon.false:hover {
    color:rgb(233, 178, 158);
}

.like-button .profile__post__icon.true {
    color: rgb(122, 123, 255);
}

.like-button .profile__post__icon.true:hover  {
    color: rgb(151, 151, 226);
}

.like-button {
    background-color: transparent;
    border: none;
}


.remove-button-styling {
    background-color: transparent;
    border: none;
}
