#navbar {
	width: 100%;
	height: 64px;
	
	background-color: var(--color-nav-background);
	border-bottom: 1px solid var(--color-border);

	position: fixed;
	top: 0;
	left: 0;
}
.navbar-container {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	
}


/* NAV LEFT */
.nav__left {
	width: 500px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
}
.nav__logo {
	width: 40px;
}
h1 {
	margin: 0 12px;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.205);
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 24px;
}


/* NAV RIGHT */
.nav__right {
	width: 400px;
	height: 100%;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.nav__buttons {
	width: 160px;
	font-size: 18px;
	
	display: flex;
	justify-content: space-around;
}
.nav__buttons * { cursor: pointer }


.nav__stats {
	width: 180px;
	
	display: flex;
	justify-content: space-around;
}
.nav__stats > * {
	display: flex;
	flex-direction: column; 
	align-items: center;
}
