#navbar {
	width: 100%;
	height: 64px;

	background-color: rgb(253, 223, 211);
	/* border-bottom: 1px solid rgb(255, 242, 237); */
	border-bottom: 1px solid rgb(251, 227, 217);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.035) 0px 5px 5px;

}
.navbar-container {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}


/* NAV LEFT */
.nav__left {
	width: 340px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
}
.nav__logo {
	width: 40px;
}
h1 {
	margin: 0 12px;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.205);
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 24px;
}


/* NAV RIGHT */
.nav__right {
	width: 340px;
	height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}


.nav__buttons {
	width: 136px;
	font-size: 18px;



	display: flex;
	justify-content: space-around;
}

.nav__buttons * { cursor: pointer }


.nav__stats {
	width: 120px;

	display: flex;
	justify-content: space-around;
}
.nav__stats > * {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.nav__icon {
	/* color: #777777; */
	/* color: rgb(189, 189, 248); */
	color: #848484;
	transition: color .15s linear;
}

.nav__icon:hover {
	color: var(--color-purple)
}
