#post-upload {
    height: 70vh;
    width: 60vh;
    margin: auto;
}

#post-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#upload-and-preview-section {
    margin: auto;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#preview {
    width: 500px;
    height: 500px;
    
    object-fit: cover;
    
    border: 1px solid red;
}
#preview img {
    width: 100%;

    object-fit: cover;
    margin: auto;
}


#upload {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: 24px; left: 0; right: 0;
    
}

#upload-button {
    width: 136px;
    height: 26px;
    padding: 12px;
    border-radius: 7px;
    font-size: 12px;
    background-color: var(--color-purple);
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-button:hover {
    cursor: pointer;
}
