#loading-spinner-container {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: center;
}

#loading-spinner {
    width: 120px;
}
