/* THREAD CREATION ******************************/
.new-message-thread {
    width: 100%;
    height: 150px;
    border: 1px solid purple;
    position: relative;
}

.user-search {
    height: 40px;
}

#selected-users {
    border: 1px solid green;    
}

.selected-users-map {
    display: flex;
    flex-wrap: wrap;
}

.selected-user {
    padding: 10px;
    margin-right: 12px;
    font-size: 12px;
    background-color: var(--color-apricot);
}

.create-thread-button {
    width: 110px;
    height: 24px;
    
    position: absolute;
    bottom: 0; right: 0;
}


/* THREAD PREVIEWS **********************/
.thread-previews-container {
    padding: 8px 0;
}

.thread-preview {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid var(--color-light-gray);
}
