#messages-page-container {
    height: 85vh;
    /* max-height: 500px; */

    display: flex;
    padding-top: 20px;
    /* grid-template-columns: 30% 70%; */
}

#messages-sidebar {
    width: 30%;
    height: 100%;
    /* border: 1px solid rgba(128, 128, 128, 0.513); */
    background-color: rgba(255, 201, 181, .305);
    background-color: rgba(157, 174, 252, 0.135);

    /* overflow-y: scroll; */
}

#messages-container {
    height: 100%;
    width: 70%;
    /* padding: 16px 32px; */
    /* border: 1px solid blue; */
    position: relative;

}



#messages-sidebar::-webkit-scrollbar {
    width: 10px;
  }

#messages-sidebar::-webkit-scrollbar-track {
    background: transparent;
}

#messages-sidebar::-webkit-scrollbar-thumb {
    /* background-color: #cc2424; */
    background-color: #9d9d9d14;
    border-radius: 10px;
    border: none;
}
